<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <style>
        #main{
            text-align: center;
            max-width: 100%;
        }

        #main *{
            max-width: 100%;
        }
    </style>
</head>
<body>
    <div id="main">
        <iframe src="https://giphy.com/embed/8L0Pky6C83SzkzU55a" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/mini-italia-8L0Pky6C83SzkzU55a">via GIPHY</a></p>
    </div>
</body>
</html>
