<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        #main{
            text-align: center;
            max-width: 100%;
        }

        #main *{
            max-width: 100%;
        }
    </style>
</head>
<body>
<div id="main">
    <iframe src="https://giphy.com/embed/h8sVibFE0NChi" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/g1ft3d-glitch-g1ft3d-nyan-cat-h8sVibFE0NChi">via GIPHY</a></p>
</div>
</body>
</html>
